.card{
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 16px;
padding: 1.5rem;
gap: 16px;
width: 280px;
height: 160px;  
}



.card--green{
    background-color: #B9FF66;
}
.card--black{
    background-color: #000000;
}
.card--white{
    background-color: #F3F3F3;
}

/* Lado izquierdo */
.cardleftSide {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
}

.cardleftSide--title h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.cardleftSide--link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.cardleftSide--link img {
  width: 20px;
  height: 20px;
}

/* Lado derecho (ilustración o ícono grande) */
.card__rightSide img {
  max-width: 100px;
  height: auto;
}