.cardContainer{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card{
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid #756f6f;
border-radius: 20px;
box-shadow: 0 4px 1px rgb(0, 0, 0);
padding: 1.5rem;
gap: 16px;
width: 280px;
height: 160px; 
font-family:'Closer-Font';
}


.card--green{
    background-color: #B9FF66;
}
.card--black{
    background-color: #000000;
    color: #F3F3F3;
}
.card--white{
    background-color: #F3F3F3;
}

/* Lado izquierdo */
.cardleftSide {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
}

.cardleftSide--title h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.card__leftSide--link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.cardleftSide--link img {
  width: 20px;
  height: 20px;
}

/* Lado derecho (ilustración o ícono grande) */
.card__rightSide img {
  max-width: 100px;
  height: auto;
}