/* .containerDatos {
    border-radius: 16px;
    box-shadow: 0 0px 4px #ffffff;
    padding: 2rem;
    margin: 2rem 3rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin: 4rem auto;
}

.nameEdad {
    color: #ffffff;
} */


/* Login.module.css */

.container {
  max-width: 400px;
  margin: 3em auto;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #2E7D32;
  font-weight: 800;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #616161;
}

.input {
  background-color: #FAFAFA;
  width: 90%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #4CAF50;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #4CAF50;
}

.button {
  margin-top: 1.4rem;
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2rem;
}

.button:hover {
  background-color: #75b578;
}

.error {
  color: #d30101;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 600;
  text-align: left;
  font-weight: 100;
}

.button--disabled {
  background-color: #9E9E9E;
  cursor: not-allowed;
}

.inputClima{
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #75b578;
  border-radius: 4px;
  width: 100%; 
  font-size: large;
}